/* general code */
:root{
    --main-color:#ed154f;
    --secondary-color:#67d6ce;
}
html{
    scroll-behavior:smooth;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
}


/* log in */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(/pic/istockphoto-1140265911-170667a.jpeg);
    background-size: cover;
    background-repeat:repeat;
}
.forms{
    display: flex;
    justify-content: flex-start;
    align-self:flex-start;
    padding: 20px;
    margin: 30px;
}
#login, #email-in, #password{
    margin-left: 8px;
    padding: 10px;
    font-size: 14px;
    border: inherit;
    transition:all .6s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition:all .6s;
    -moz-transition:all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
}
#login{
    color: var(--main-color);
    cursor: pointer;
}
#login:focus, #email-in:focus, #password:focus{
    box-shadow: 0px 1px 20px 0px var(--secondary-color);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
#password:hover, #login:hover, #email-in:hover{
    box-shadow: 0px 1px 20px 0px var(--secondary-color)
}
#email-in::placeholder, #password::placeholder{
color: var(--main-color);
opacity: .5;
}

/* links code facebook ect. */
.link{
    color:#fff;
    text-decoration: none;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px #a7a2a2;
    ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.link:hover{box-shadow: 0px 0px 20px 0px #ffffff;}
.link1:hover{background-color: #4267B2;}
.link2:hover{background-color: #21c35c;}
.link3:hover{background-color: #E1306C;}
.links ul{
    display: flex;
    position: absolute;
    width: 80%;
    margin-top: 55px;
    justify-content: flex-end;
    list-style-type: none;
    left: 10%;
}
.links ul li{
    transition: .56s  ;
    -webkit-transition: .56s  ;
    -moz-transition: .56s  ;
    -ms-transition: .56s  ;
    -o-transition: .56s  ;
}
.links ul li:hover{
    font-size: 22px;
    transform: scale(.8) translateY(10px) rotate(-360deg);
    -webkit-transform: scale(.8) translateY(10px) rotate(-360deg);
    -moz-transform: scale(.8) translateY(10px) rotate(-360deg);
    -ms-transform: scale(.8) translateY(10px) rotate(-360deg);
    -o-transform: scale(.8) translateY(10px) rotate(-360deg);
}

/*-------main devil picture-----*/
.char{
    position: absolute;
    width: 300px;
    top: 96%;
    left: 84%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-150%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* title stile  */
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    width: 1200px;
    height: 20vh;
    padding: 20px;
    border: 5px solid var(--secondary-color);
    border-radius: 30px;
    box-shadow: 0px 1px 20px 0px var(--secondary-color);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.wrapper .container a{
    text-decoration: none;
    background-color: transparent;
    font-size: 80px;
    border: none;
    color:var(--main-color);
    transition: all 1.3s;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
}
.container:hover a{
    cursor: pointer;
    color:#fff;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
.container:hover{
    cursor:pointer;
    box-shadow: 0px 1px 50px 0px #ffffff;
    border: 5px solid #fbfbfb;
}



/* <!--------------media -------------------*/
@media screen and (max-width:1000px) {
    .char{
        position: absolute;
        width: 300px;
        top: 57%;
        left: 75%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-150%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
    
}
@media screen and (min-width: 677px) {
    .container{
        width: 80%;
    }
    .container h1{
        font-size: 80px;
        color: var(--main-color);
        font-size: 60px;
    }
}
@media screen and (max-width: 676px) {
    .container{
        width: 80%;
    }
    .container h1{
        font-size: 80px;
        color: var(--main-color);
        font-size: 29px;
    }
}





/* cards style  */
.section{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.card{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 0px 15px 0px #a7a2a2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.card:hover {
    background-color: rgb(119, 0, 0);
    color: #fff;
    box-shadow: 0px 0px 22px 10px #a7a2a2;
    cursor: pointer;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
.card h3{
    margin-bottom: 20px;
    font-size: 30px;
}
.card img{
    height: 250px;
    width: 80%;
    margin: 80px 0;
    border-radius: 50%;
    transition:all .5s;
    box-shadow: 0 0 0 0 rgb(119, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
}
.card:hover img{
    border-radius: 30%;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.card p{
    line-height: 30px;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    overflow: hidden;
    margin-bottom: 30px;
}

.icon{
    color: #fff;
}


/* ------------------------------ */
.pack img{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: all .5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.g-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
}
.pack{
    display: flex;
    flex-direction: column;
    width: calc(100% /5);
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border-radius: 20px;
    margin: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.pack:hover{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
.pack button{
    visibility: hidden;
    color: #000;
    padding: 0 30px ;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 30px;
    border-color: transparent;
    transition: all .4;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: all .4;
    -moz-transition: all .4;
    -ms-transition: all .4;
    -o-transition: all .4;
}
.pack:hover button{
    visibility: visible;
}
.pack p{
    visibility: hidden;
    transition: all .180s;
    -webkit-transition: all .180s;
    -moz-transition: all .180s;
    -ms-transition: all .180s;
    -o-transition: all .180s;
}
.pack:hover p{
    visibility: visible;
}
.pack button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px white;
    background-color: rgb(119, 0, 0);
    color: #e9e9e9;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.pack:hover{
    background-color: rgb(119, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: rgb(167 162 162) 0px 0px 22px 10px;
    cursor: pointer;
}
.pack:hover img{
    width: 150px;
    height: 150px;
    transform: rotate(2turn);
    -webkit-transform: rotate(2turn);
    -moz-transform: rotate(2turn);
    -ms-transform: rotate(2turn);
    -o-transform: rotate(2turn);
}

.pack p{
    padding: 15px;
    text-align: center;
}
.pack h1{
    padding: 10px;
}

